.jumbotron {
    justify-content: center;
    background-color: yellow;
  }
body{
    background: yellow;
    font-family: "Open Sans", sans-serif; }

.navbar{
  background-color: orange;
  color: black;
  font-family:'Bungee Inline', cursive; ;
  text-align: center;
}

strong{
  color: blue;
}

.maps {
  text-align: center;
}