.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: url("../image/woodbark.jpg");
}

body{
    background: #f5deb3;
}
strong {
    color: lightgray;
}
h1 {
    color: lightgray;
}

h3 {
    color: dodgerblue;
}