body{
    background: yellow;
    font-family: "Open Sans", sans-serif; }

.navbar{
  background-color: orange;
  color: black;
  font-family:'Bungee Inline', cursive; ;
  text-align: center;
}
header {
  height: 200px;
  background-image: url("../image/vogue\ marine\ center.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 680px;
  
}